
# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.webpack
.serverless

# dist related files
fi-rss-chrome.zip
fi-rss-firefox.zip
coddo_signing_key.pem
dist.crx
fi-rss.crx
dist/
dist-chrome/
dist-firefox/

# End of https://www.gitignore.io/api/visualstudiocode